{# templates/post/edit.html.twig #}

{% extends 'layout/base.html.twig' %}

{% block body %}
{#    {{ form_start(form, {'attr': {'class': 'edit-form', 'id': 'edit-form-' ~ post.id}}) }}#}
{#    <div id="editor-container-{{ post.id }}">#}
{#        <div class="quill-editor" id="editor-{{ post.id }}"></div>#}
{#        {{ form_widget(form.text) }}#}
{#    </div>#}
{#    <button type="submit" class="save-btn">✔</button>#}
{#    <button type="button" class="cancel-btn" data-post-id="{{ post.id }}">✖</button>#}
{#    {{ form_end(form) }}#}
{% endblock %}