{% extends 'layout/overview_layout.html.twig' %}
{% block overview_content %}
    <div class="back-button">
        <a href="{{ path('space_views', {'id': post.space.id}) }}" class="btn-back">
            {{ ux_icon('ph:arrow-left-thin', {height: '24px', width: '24px',}) }} Retour
        </a>
    </div>
    <div class="space_container post_box_show">
        <post-show
                :post="{{ post_json }}"
                :documents="{{ documents_json }}"
                :comments="{{ comments_json}}"
                :user="{{ user_json }}"
                csrf-token="{{ csrf_token('delete_post' ~ post.id) }}"
        ></post-show>
        {% include 'components/chat.html.twig' %}
    </div>
{% endblock %}
