{# templates/account/change_password.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {% if form.oldPassword.vars.errors %}
                <div class="alert alert-danger">
                        {% for error in form.oldPassword.vars.errors %}
                                {{ error.message }}
                        {% endfor %}
                </div>
        {% endif %}
        {{ form_row(form.newPassword) }}
        {{ form_end(form) }}

{% endblock %}
