{% extends './layout/base.html.twig' %}
{% set logo_class = 'logo-container-login-page' %}
{% set logo_title = 'formasphere' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'components/logo.html.twig' with {'logo_class': logo_class, 'logo_title': logo_title}%}

    <div class="container-form-login">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que <span style="font-weight: bold">{{ app.user.userIdentifier }}</span>, <a id="logout" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Bienvenue,</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-2">
                <label>
                    <div>Se souvenir de moi</div><div><input type="checkbox" name="_remember_me"></div>
                </label>
            </div>

            {% if app.user %}
                <button class="btn btn-lg btn-primary" type="submit" disabled>
                    Se Connecter
                </button>
             {% else %}
                <button class="btn btn-lg btn-primary" type="submit">
                    Se Connecter
                </button>
            {% endif %}

        </form>
    </div>


{% endblock %}
