{% extends 'layout/overview_layout.html.twig' %}

{% block overview_content %}
    <div id="space_container">
        {% for label, messages in app.flashes %}
            <div class="flash-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div id="compose_box">
            <div class="profile-container">
                <img class="profil-img"
                     src="{{ asset(app.user.getAvatar) }}"
                     alt="user profile picture">
                <h4>{{ app.user.getFullName }}</h4>
            </div>
            <form id="postForm" method="POST" action="{{ path('save_post', {'space_id': space.id}) }}">
                <div id="editor"></div>
                <label for="content" style="display:none;">Editeur de texte</label>
                <textarea name="content" id="content" style="display:none;"></textarea>
                <button type="submit" id="submit-button">Submit</button>
            </form>
        </div>

        <hr>

        {% for post in pagination %}
            <div class="container-post">
                <div id="post_box">
                    <div class="post-header">
                        <div class="container-profil-post">
                            <img class="profil-img img-profil-post" src="{{ asset(post.user.avatar) }}"
                                 alt="avatar de {{ post.user.fullName }}">
                            <h4>{{ post.user.fullName }}</h4>
                        </div>
                        <div class="post-actions">
                            <button type="button" class="edit-btn" data-post-id="{{ post.id }}" style="background: none; border: none;">
                                <img src="{{ asset('build/images/pencil.6bc05206.png') }}" alt="bouton edition de poste">
                            </button>
                            <button type="button" class="delete-btn" data-post-id="{{ post.id }}" style="background: none; border: none;">
                                <img src="{{ asset('build/images/close.53e53dde.png') }}" alt="bouton suppression de poste">
                            </button>
                            <form id="delete-form-{{ post.id }}" action="{{ path('app_posts_delete', {'id': post.id}) }}" method="POST" style="display:none;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            </form>
                        </div>
                    </div>
                    <div class="post-text">
                        <p>{{ post.text|raw }}</p>
                    </div>
                    <div class="post-edit-form" id="edit-post-form-container-{{ post.id }}" style="display: none;">
                        {{ form_start(editForms[post.id], {
                            'action': path('app_postEdit', {'id': post.id}),
                            'method': 'POST',
                            'attr': {'class': 'edit-form'}
                        }) }}
                        <div id="editor-{{ post.id }}" class="quill-editor"></div>
                        <textarea style="display:none;" id="edit-content-{{ post.id }}" name="editContent">{{ post.text|raw }}</textarea>
                        <div class="form-errors">
                            {{ form_errors(editForms[post.id]) }}
                        </div>
                        <button type="submit" class="save-btn">Editer</button>
                        <button type="button" class="cancel-btn">Annuler</button>
                        {{ form_end(editForms[post.id]) }}
                    </div>
                    <div class="foot-post">
                        <button class="read-more-btn">Lire plus</button>
                        <small>{{ post.createdAt|date('d-m-Y H:i:s') }}</small>
                        <small>#{{ post.id }}</small>
                    </div>
                </div>
                <div id="comment-section">
                    <button type="button" class="toggle-comments-btn" data-post-id="{{ post.id }}">
                        ↓ Afficher les commentaires ↓
                    </button>
                    <div id="comments_{{ post.id }}" class="comment-section" style="display:none;">
                        {% for comment in commentsData[post.getId] %}
                            <p>{{ comment.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div id="post-comment">
                    <form class="form-comment">
                        <label for="comment" style="display:none;">Commentaire</label>
                        <textarea name="comment" class="comment-input" placeholder="Entrez votre commentaire"></textarea>
                        <btn><img class="icon-send" src="{{ asset('build/images/send-message.acb93f2a.png') }}" alt="bouton d'envoi de commentaire"></btn>
                    </form>
                </div>
            </div>
        {% endfor %}

        <div class="navigation active">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% include 'components/chat.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
