{% extends 'layout/overview_layout.html.twig' %}

{% block overview_content %}
    <div id="space_container">

        {% include 'components/search_bar.html.twig' %}
        <!-- Boîte de composition de nouveau post -->
        <quil-editor :form-action="'{{ path('save_post', {'space_id': space.id}) }}'"></quil-editor>
        <!-- Liste des posts -->
        {% for post in pagination %}
            <div class="container-post">
                <div class="post_box">
                    <div class="post-header">
                        <div class="container-profil-post">
                            <img class="profil-img img-profil-post" src="{{ asset(post.user.avatar) }}"
                                 alt="avatar de {{ post.user.fullName }}">
                            <h4 class="post-author">{{ post.user.fullName }}</h4>
                        </div>

                    </div>
                    <div class="post-text ellipsis">
                        <p>{{ post.text|raw }}</p>
                    </div>

                    <!-- Indicateur de nombre de documents -->
                    <div class="post-details">
                        {% if post.documents|length > 0 %}
                            <span class="available-doc-nb">{{ ux_icon('icons8:document', {height: '18px', width: '18px'}) }} {{ post.documents|length }}</span>
                        {% endif %}
                    </div>
                    <!-- Pied de page du post avec le lien vers la page détaillée -->
                    <div class="foot-post">
                        <div class="left-info">
                            <small>{{ post.createdAt|date('d/m/Y H:i:s') }}</small>
                        </div>
                        <div class="post-more-bloc"><a href="{{ path('app_posts_show', {'id': post.id}) }}" class="details-link" title="Consulter le post">Consulter {{ ux_icon('material-symbols:arrow-right', {class: 'arrow-right'}) }}</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        <div class="navigation active">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% include 'components/chat.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}

{% endblock %}
