{% extends 'layout/overview_layout.html.twig' %}

{% block overview_content %}
    <div id="space_container">
        {% include 'components/search_bar.html.twig' %}

        <!-- Boîte de composition de nouveau post -->
        <div id="compose_box">
{#            <div class="profile-container">#}
{#                <img class="profil-img" src="{{ asset(app.user.getAvatar) }}" alt="Photo de profil de l'utilisateur">#}
{#                <h4 class="post-author">{{ app.user.getFullName }}</h4>#}
{#            </div>#}
            <form id="postForm" method="POST" action="{{ path('save_post', {'space_id': space.id}) }}"
                  enctype="multipart/form-data">
                <div id="editor"></div>
                <label for="content" style="display:none;">Éditeur de texte</label>
                <textarea name="content" id="content" style="display:none;"></textarea>

                <!-- Container pour les boutons -->
                <div class="button-container">
                    <div class="left-buttons">
                        <input type="file" name="document[]" id="document-input" style="display:none;" multiple accept=".pdf, .docx, .pptx, .xlsx, .zip, .txt, .py, .java, .cpp, .jpg, .jpeg, .png, .gif, .svg"/>
                        <button type="button" class="add-doc-btn" aria-label="Ajouter un document">
                            {{ ux_icon('carbon:document-add', {height: '24px', width: '24px'}) }}
                        </button>
                    </div>
                    <!-- Affichage du fichier sélectionné -->
                    <button type="submit" id="submit-button">Poster</button>
                </div>
                <ul id="file-list" class="file-list"></ul>
            </form>
        </div>

        <!-- Liste des posts -->
        {% for post in pagination %}

            <div class="container-post">
                <div class="post_box">
                    <div class="post-header">
                        <div class="container-profil-post">
                            <img class="profil-img img-profil-post" src="{{ asset(post.user.avatar) }}"
                                 alt="avatar de {{ post.user.fullName }}">
                            <h4 class="post-author">{{ post.user.fullName }}</h4>
                        </div>

                    </div>
                    <div class="post-text">
                        <p>{{ post.text|raw }}</p>
                    </div>
{#                    {% if editForms[post.id] is defined %}#}
{#                        <div class="post-edit-form" id="edit-post-form-container-{{ post.id }}" style="display: none;">#}
{#                            {{ form_start(editForms[post.id], {#}
{#                                'action': path('app_postEdit', {'id': post.id}),#}
{#                                'method': 'POST',#}
{#                                'attr': {'class': 'edit-form'}#}
{#                            }) }}#}
{#                            <div id="editor-{{ post.id }}" class="quill-editor"></div>#}
{#                            {{ form_widget(editForms[post.id].editContent) }}#}
{#                            {{ form_end(editForms[post.id]) }}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <p>Erreur : Formulaire d'édition non défini pour le post {{ post.id }}</p>#}
{#                    {% endif %}#}
                    <!-- Indicateur de nombre de documents -->
                    <div class="post-details">
                        {% if post.documents|length > 0 %}
                            <span class="available-doc-nb">{{ ux_icon('icons8:document', {height: '18px', width: '18px'}) }} {{ post.documents|length }}  Documents disponible</span>
                        {% else %}
                            <span style="display: none;">Aucun document associé</span>
                        {% endif %}
                    </div>
                    <!-- Pied de page du post avec le lien vers la page détaillée -->
                    <div class="foot-post">
                        <div class="left-info">
                            <small>{{ post.createdAt|date('d/m/Y H:i:s') }}</small>
                        </div>
                        <a href="{{ path('app_posts_show', {'id': post.id}) }}" class="details-link">Voir les
                            détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        <div class="navigation active">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% include 'components/chat.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}

{% endblock %}
