{# components/card.html.twig #}

<div class="{{ card_style }}">
    <div class="{{ card_img }}">
        <img src="{{ asset(image_url) }}" alt="image formation">
    </div>

    <div class="{{ card_content }} ellipsis">
        <h2>{{ card_title }}</h2>
        {{ card_descr }}
    </div>
</div>
