{% extends 'layout/base.html.twig' %}
{% set logo_class = 'logo-container' %}
{% set logo_title = 'formasphere' %}
{% set card_style = 'card_style' %}
{% set card_img = 'card_img' %}
{% set card_content = 'card_content' %}
{% set container_list = 'container_list' %}
{% set list_style = 'list_style' %}
{% set list_content = 'contenu' %}

{% block body %}
    <div id="container-overview">
        <div id="header-container">
            {% include 'components/logo.html.twig' with {'logo_class': logo_class, 'logo_title': logo_title} %}
            <div class="content-header">
                <dark-mode-button></dark-mode-button>

                <div class="notification-icon">
                    {#                    <img class="icon-bell" src="{{ asset('build/images/new-notification.png') }}" #}
                    {#                         alt="notification-icon"> #}
                    {#                    <div class="notification-badge"></div> #}
                    <notification :user-id="{{ app.user.id|json_encode }}"
                                  :notifications="{{ app.user.notifications|json_encode }}"
                    ></notification>


                </div>
                {% block hearder %}
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a style="color: red" href="{{ path('admin') }}">Dashboard Admin</a>
                        {% endif %}

                        <user-dropdown
                                :user-data='{{ userData_json|json_encode|raw }}'
                        ></user-dropdown>

                    {% else %}
                        <p>Bonjour, invité!</p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div id="container-main">

            <div class="content-menu">
                {% block menu %}
                    {% include 'components/menu-list.html.twig' with {'container_list': container_list, 'list_style': list_style, 'list_content': list_content, 'rou': rou} %}
                {% endblock %}
            </div>

            <div class="content-main">
                {% block overview_content %}

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
